@charset "UTF-8";

.hukidashi--box {
  width: 500px;
  font-size: 16px;
  line-height: 16px;
  background: #fed296;
  border: solid 5px #8f5a0a;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  border-radius: 30px;
}

/* .hukidashi--box:before {
  border-top: 20px solid #8f5a0a;
}

.hukidashi--box:before {
  content: "";
  position: absolute;
  border-top: 20px solid #8f5a0a;
  bottom: -45px;
} */

/* .hukidashi--box:after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 30px;
  border-style: solid;
  border-color: #fed296 transparent;
  border-width: 20px 20px 0 20px;
} */

.hukidashi--box:before,.hukidashi--box:after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  left: 30px;
}

.hukidashi--box:before {
  border-top: 20px solid #8f5a0a;
  bottom: -45px;
}

.hukidashi--box:after {
  border-top: 20px solid #fad296;
  bottom: -38px;
}